html {
	box-sizing: border-box;
	background-color: var(--backgroundColor);
}

*, *:before, *:after {
	box-sizing: inherit;
}

* {
	border: 0;
	margin: 0;
	padding: 0;
}

:root {
	font-size: 16px;
	--blackColor: #000;
	--whiteColor: #fff;
	--backgroundColor: #5CDB95;
	--linkColor: #05386B;
}

body {
	font: 400 1.3rem 'Roboto', sans-serif;
}

h1 {
	flex: 0 0 100%;
	font-size: 2rem;
}

h2 {
	font-size: 1.8rem;
	font-weight: 400;
}

main h3 {
	font-size: 1.6rem;
	font-weight: 400;
}

h1, h2, main h3 {
	font-family: 'Arvo', 'Georgia', serif;
}

a {
	font-weight: 700;
}

header p, header a {
	color: var(--linkColor);
}

p {
	font-size: 1.5rem;
}

header p, li {
	display: inline-block;
}

img {
	color: var(--linkColor);
	height: 20px;
	width: 20px;
}

.header__covidGuidelinesSection a {
	font-size: 1rem;
}

footer a, footer h3, footer h4, .header__covidGuidelinesSection a {
	color: var(--whiteColor);
}

.header__covidGuidelinesSection {
	background-color: var(--blackColor);
	flex: 0 0 100%;
	text-align: center;
}

main {
	margin: 0 auto;
	max-width: 2000px;
	gap: 20px;
	width: 90%;
}

main section {
	max-width: 580px;
}

ul {
	display: block;
}

header, main, footer {
	display: flex;
	flex-wrap: wrap;
}

main span {
	text-decoration: solid underline;
	text-decoration-color: #946500;
}

header section:first-child h3 {
	padding-top: 15px;
}

header section:nth-child(3) {
	padding-top: 30px;
}

header section:last-child {
	padding-top: 35px;
}

header section:last-child h3 {
	padding-right: 20px;
}

footer {
	background-color: var(--blackColor);
}

footer section {
	float: left;
	margin: 6% 0% 0% 12%;
}

[role="main"] p {
	font-size: 37px;
}

a:link {
	text-decoration: none;
}

a:hover {
	background-color: #00D5E0;
	padding: 20px;
}

a:active {
	text-decoration: underline;
}

.main--background-image {
	background-image: url('images/main_background.jpg');
	background-repeat: no-repeat;
	color: var(--blackColor);
}

.main-page__div-block-1, .main-page__div-block-2 {
	display: flex;
	padding-top: 100px;
	text-align: left;
}

.main-page__div-block-1 h1, .main-page__div-block-2 h1 {
	font: normal 50px 'Roboto', sans-serif;
} 

.main-page__div-block-1 h2 h3, .main-page__div-block-2 h2 h3 {
	font: normal 50px 'Roboto', sans-serif;
}

.main-page__div-block-1__first-section {
	background-color: #fff;
	flex: 1;
	margin-right: 20px;
	margin-left: 20px;
	padding-top: 25px;
	width: 24%;
}

.main-page__div-block-1__second-section {
	background-color: #fff;
	flex: 1;
	margin-right: 20px;
	padding-top: 25px;
	width: 24%;
}

.main-page__div-block-1__third-section {
	background-color: #fff;
	flex: 2;
	margin-right: 20px;
	text-align: center;
	padding-top: 50px;
	width: 49%;
}

.main-page__div-block-2__article, .main-page__div-block-2__section {
	background-color: #fff;
	flex: 1;
	margin: 0px 20px 0px 20px;
}

.main-page__div-block-2__section {
	text-align: center;
}

.main-page__div-block-2__section {
	padding-top: 75px;
}

.tour-page__main__section-3-iframe {
	width: 75%;
	height: 700px;
}

.header__section--mobil-nav {
	display: none;
}

.header__section__div--right-border__disepear {
	border-right: 1px solid #fff;
	padding-right: 4px;
}

.header__section__div--left-border__disepear {
	border-left: 1px solid #fff;
}

#main__article--id h1 {
	font: normal 50px 'Roboto', sans-serif;
	margin-top: 40px;  
}

#main__article--id h2 {
	display: block;
	font-weight: normal;
	margin: 40px 0px 100px 0px;
}

#main__article--id h3 {
	margin-top: 30px;
}

#main__article--id p {
	line-height: 50px;
}

#submit-button {
  background-color: #00D5E0;
  border: none;
  border-radius: 25px;
  color: #000000;
  height: 50px;
  font: normal 24px 'Roboto', 'Arial', sans-serif;
  text-align: center;
  text-decoration: none;
  margin: 50px auto;
  width: 250px;
}

@media only screen and (max-width: 1767px) {
	footer section:last-child {
		clear: left;
		display: none;
	}

	header li {
		display: block;
	}

	header ul {
		text-align: left;
	}

	header section:nth-child(2) {
		font-size: 36px;
		margin-top: 8%;
		width: 40%;
	}

	header section:nth-child(3) {
		float: right;
		margin-top: 5%;
		padding-top: 0px;
		width: 40%;
		justify-content: right;
	}

	header section:last-child {
		display: none;
	}

	.main-page__div-block-2__section {
		display: none;
	}

	.main-page__div-block-1__third-section {
		display: none;
	}
}

@media only screen and (max-width: 736px) {
	header {
		min-height: 130px;
	}

	footer section:first-child, section:last-child {
		display:none;
	}

	footer section:nth-child(2) {
		float: none;
		margin: 0px;
		padding-top: 20%;
	}

	header section:nth-child(2) {
		width: 100%;
		float: none;
		margin-top: 30px;
	}

	header section:nth-child(2) h1 {
		font-size: 35px;
	}

	header section:nth-child(3), #header__section--mobil-nav--remove-h1 {
		display: none;
	}

	.header__section--div-container, .header__section--mobil-nav {
		display: inline-block;
	}

	.header__section--margin {
		padding: 0px 75px 0px 75px;
	}
	
	.main-page__div-block-2__article {
		display: none;
	}

	.main-page__div-block-1 {
		flex-direction: column;
	}

	.main-page__div-block-1__first-section, .main-page__div-block-1__second-section, .main-page__div-block-1__third-section {
		width: 100%;
		margin: 20px 0px 0px 0px;
	}
}
/*
	Notes about assignment
		- Don't use title attributes because of what MDN say about accessibility concerns
*/