html {
	box-sizing: border-box;
	background-color: var(--backgroundColor);
}

*, *:before, *:after {
	box-sizing: inherit;
}

* {
	border: 0;
	margin: 0;
	padding: 0;
}

:root {
	font-size: 16px;
	--blackColor: #000;
	--whiteColor: #fff;
	--backgroundColor: #5CDB95;
	--linkColor: #05386B;
}

body {
	color: var(--blackColor);
	font: 400 1.3rem 'Roboto', sans-serif;
}

header, main, footer, footer section:nth-child(2) {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

main section:nth-child(2) a, .main__sectionContainer--landingPageImages, .main__sectionContainer-landingPageImages__columnThree--imageTwo, 
.divContainer__image, .main__sectionContainer-landingPageImages__columnThree--imageOne, input, textarea, .homeButton a,
.tourButton a {
	display: block;
}

h1 {
	flex: 0 0 90%;
	font-size: 2rem;
	margin-bottom: 100px;
}

.contactPage--centerHeading {
	text-align: center;
	margin: 50px auto;
}

.aboutPage__headingStyle {
	margin-bottom: 25px;
}

 .routesToursPage__mainContainer h1 {
	 margin-bottom: 30px;
 }

legend {
	font-size: 1.8rem;
	margin: 0 auto;
}

h2, main h3, label {
	font-size: 1.5rem;
	font-weight: 400;
	margin-bottom: 0.5rem;
}

h1, h2, main h3, .header__logoContainer a {
	font-family: 'Arvo', 'Georgia', serif;
}

footer a {
	font-weight: 400;
	font-size: 1.3rem;
}

a {
	font-weight: 700;
	font-size: 1.4rem;
	text-transform: uppercase;
}

button {
	background-color: var(--linkColor);
	color: var(--whiteColor);
	cursor: pointer;
	font-size: 1.3rem;
	padding: 10px;
}

.header__logoContainer a {
	font-size: 3.5rem;
	text-transform: capitalize;
}

.aboutPage__messageFromCompany {
	margin-top: 25px;
}

footer a {
	font-size: 1.3rem;
	text-transform: lowercase;
}

footer h3 {
	font-weight: 400;
	font-size: 1.3rem;
	margin-bottom: 10px;
}

section li {
	color: var(--whiteColor);
	line-height: 2rem;
}

header p, header a, main a {
	color: var(--linkColor);
}

header a {
	margin-right: 20px;
}

p {
	font-size: 1.3rem;
	line-height: 1.7rem;
}

.routesToursPage__mainContainer div p {
	margin-bottom: 10px;
}

li {
	display: inline-block;
	padding: 0 5px 0 5px;
}

section li {
	border-right: solid var(--whiteColor) 2px;
}

.body__sectionContainer li:nth-child(4), .routesToursPage__mainContainer li {
	border-right: none;
}

.header__covidGuidelinesSection a {
	color: var(--blackColor);
	font-size: 1rem;
}

.body__sectionContainer h3 {
	color: var(--whiteColor);
	margin-bottom: 10px;
}

img {
	color: var(--linkColor);
	height: 20px;
	width: 20px;
}

.main__sectionContainer--landingPageImages {
	height: 400px;
	width: 300px;
}

.main__sectionContainer-landingPageImages__columnThree--imageOne {
	height: 400px;
	width: 500px;
}

.main__sectionContainer-landingPageImages__columnThree--imageTwo {
	height: 400px;
	width: 300px;
}

.standAlone--image {
	height: 500px;
	width: 400px;
}

.divContainer__image {
	height: 800px;
	margin: 150px auto;
	width: 900px;
}

header section img {
	height: 25px;
	width: 25px;
}

footer img {
	width: 25px;
	height: 25px;
}

header {
	height: 150px;
	justify-content: left;
	max-width: 85%;
	margin: 0 auto;
}

.header__covidGuidelinesSection {
	flex: 0 0 100%;
	height: 30px;
	text-align: center;
	margin: 25px 0; 
}

header nav, header section:nth-child(4) {
	align-self: center;
}

.header__hamburgerMenu--container {
	display: none;
}

nav {
	margin-left: 5%;
}

main {
	margin: 100px auto;
	max-width: 85%;
}

article {
	max-width: 1040px;
}

main section {
	max-width: 600px;
}

.routesToursPage__mainContainer section {
	max-width: none;
}

main section:nth-child(2), main section:last-child {
	height: fit-content;
}

.contactPage--mainContainer {
	margin: 50px auto;
}

.routesToursPage__mainContainer {
	justify-content: space-between;
}

.body__sectionContainer {
	background-color: var(--linkColor);
	text-align: center;
	padding: 30px 0;
}

#iframe {
	width: 1200px;
	height: 600px;
}

footer {
	color: var(--blackColor);
	align-items: center;
	height: 250px;
}

footer section:nth-child(2) {
	width: 200px;
}

main section:nth-child(2) {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

form {
	width: 800px;
}

fieldset {
	padding: 25px 80px;
	border-radius: 5px;
	border: solid var(--blackColor) 2px;
}

fieldset div {
	margin-bottom: 25px;
}

label {
	padding-bottom: 15px;
}

input {
	height: 50px;
	width: 420px;
}

textarea {
	height: 300px;
	width: 100%;
}

a:link {
	text-decoration: none;
}


a:active {
	text-decoration: underline;
}

.button {
	border-radius: 2px;
	background-color: var(--linkColor);
	text-align: center;
	width: 300px;
}

.button a {
	color: var(--whiteColor);
	font-size: 1.8rem;
	padding: 20px;
}

.readButton a, .homeButton a {
	font-size: 1.3rem;
	padding: 10px;
}

.readButton {
	margin-top: 15px;
}

.tourButton {
	margin: 25px 0;
}

.tourButton a {
	padding: 15px;
}

.contactPageSubmitButtonContainer {
	width: 100%;
	margin: 0 auto;
}
@media only screen and (max-width: 1400px) {
	h1 {
		font-size: 1.8rem;
	}

	.divContainer__image {
		height: 500px;
		width: 500px;
	}

	main section:nth-child(2), main section:nth-child(3) {
		padding: 20px;
	}

	main section:last-child {
		display: none;
	}
}

@media only screen and (max-width: 800px) {
	h1 {
		font-size: 1.5rem;
	}

	h1, h2 {
		text-align: center;
	}

	.button {
		margin: 20px auto;
	}
}

@media only screen and (max-width: 500px) {
	h1 {
		font-size: 1.2rem;
		margin-bottom: 50px;
	}

	main section:nth-child(3), .body__imageContainer {
		display: none;
	}

	footer {
		margin-top: 100px;
	}
}

/*
Hi Alexander

The HTML is neatly written and you've used HTML5 elements which is great to see.

Unfortunately the site can't be used on a mobile device because the hamburger menu doesn't work and on 
mobile devices it's set to display: none. There's two ways to get a hamburger menu to work, one is 
using JavaScript, and the other is using the checkbox hack in CSS. https://scrimba.com/c/ceM3paHb

If you couldn't get the hamburger menu working, then just having the nav showing would have been a better option.

The blue text on the white background isn't WCAG compliant as there isn't enough contrast between the colours. OK

The Contact and About Us pages are quite wide. I'd suggest using a max-width and margin: auto to bring them in 
so they don't stretch too wide. OK

The hover on the nav makes all the items change size which doesn't feel right. It should just affect the item you're 
hovering on.

The logo doesn't link home. OK

There should just be one h1 per page and it should be unique for that page. OK

Meta descriptions and titles are unique per page which is great to see. OK

It's good to read about your process in the report. Hopefully with a bit more planning you'll find it easier in 
the semester project. On a side note, I wouldn't suggest floats for layout, and am glad to see you using Flexbox. OK
*/